@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #2F3542; /* Dark grey for text */
}

/* about page */
/* @keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
} */
